body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#text_area {
  overflow: scroll;
}

#text_area > h1 {
  margin: 0;
}

.fade-in {
    opacity: 1  !important;
    transition: all 1s ease-out;
}

#footer {
  padding-bottom: 200px;
}

h1{
  padding-top: 20px;
  padding-bottom: 20px;
}


h2 {
  padding-top: 20px;
  font-size: 24px;
}
